nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	list-style: none;
}

.login {
	margin-left: auto;
}

#logo {
	width: 150px;
}

.nav-link-menu {
	background-color: #b06d5a;
	color: #fff;
	border-radius: 15px;
	margin: 10px;
	padding: 8px;
}

.nav-link-menu:hover {
	background-color: #ce9a8e;
	color: #fff;
}

.nav-link-sair {
	background-color: #9c6d61;
	color: #fff;
	border-radius: 15px;
	margin: 10px;
	padding: 8px;
}

.nav-link-sair:hover {
	background-color: #ce9a8e;
	color: #fff;
}